.logo a:hover, .content a:hover, .backToHome a:hover {
    opacity: 0.6;
}

.container{   
    padding: 0 1rem;    
    margin: 3rem 0rem 6rem 0rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
}

.logo{
    text-align: left;
    max-width: 100%;
    margin-left: 3rem;
}

.content{
    text-align: right;
}

.content a{
    text-decoration: none;
}


.content ul{
    list-style-type: none;
    text-align: right;
}
  
.content li{
    display: inline-block;
    margin-right: 3rem;
}

ul.submenu{
    flex-direction: column;
}

.blogMenu > li.submenu{
    position: relative;
}

li.blogMenu ul.submenu{
    position: absolute;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.blogMenu:hover ul.submenu{
    visibility: visible;
    opacity: 1;
}

.backToHome{
    margin: 3rem 0 0;
    text-align: center;
}

.backToHome a{
    text-decoration: none;
}


.footer{
    text-align: center;
    font-size: 15px;
}
