.container{
    padding: 0 1rem;    
    margin: 3rem auto 6rem;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    text-align: center;
    background-color: #4160E1;
    color: white;
    max-width: 100%;
}

.content ul{
    list-style-type: none;
    text-align: right;
}
  
.content li{
    display: inline-block;
    margin-right: 50px;
}
  
.backToHome{
    margin: 3rem 0 0;
}
