.container{         
    margin: 3rem 0rem 6rem 0rem;
    max-width: 100%;
}


.logo a{
    text-decoration: none;
}

.logo{
    text-align: left;
    max-width: 100%;
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
}

.logo_a{
    position: relative;
    border: 0px;
    width: max-content;
    height: max-content;
    display: flex;
    background: #fff;
}

.logo_a span{
    width: 100%;
    height: 100%;
    color: black;
    z-index: 10;
}

.logo_a span:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: black;
    z-index: -1;
    transition: .3s;
}

.logo_a span:hover{
    color: #fff;
}

.logo_a span:hover:before{
    width: 100%;
}




