html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}