.headingLg {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}


.borderCircle {
  border-radius: 9999px;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.listItem a:hover{
  opacity: 0.6;
}

.lightText {
  color: #666;
}

.categoryItem{
  box-shadow: 0 0 1px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.22);
	transition: .3s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 1rem;
}

.categoryItem:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  background-color: black;
}

.categoryItem_a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.categoryItem a{
  text-decoration: none;
  color:black;
}

.categoryItem a:hover{
  color: white;
}

.categoryName p{
  letter-spacing: 0.5rem;
  text-align: left;
  margin-left: 5rem;
}

.categoryNameE{
  font-size: 1.6rem;
}

.categoryNameJ{
  font-size: 1.1rem;
  font-weight: 300;
}

.category ul{
  list-style-type: none;
}

.backToHome{
  margin: 3rem 0 0;
  text-align: center;
  letter-spacing: 0.5rem;
}

.backToHome a{
  text-decoration: none;
}

.backToHome a:hover {
  opacity: 0.6;
}

.entire{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;/*両端揃え*/
}

.mainColumn{
  width: 58rem;
}

.sideMenu{
  letter-spacing: 0.5rem;
}

.sideMenu a{
  text-decoration: none;
}

.sideMenu ul{
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
}

.sideMenu li{
  padding:20px 0;
}
