.headingLg {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}

.padding1px {
  padding-top: 1px;
}

.categoryItem{
  box-shadow: 0 0 1px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.22);
	transition: .1s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 2rem;
}

.categoryItem:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  background-color: black;
}

.categoryItem_a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.categoryItem a{
  text-decoration: none;
  color:black;
}

.categoryItem a:hover{
  color: white;
}

.categoryName p{
  letter-spacing: 0.5rem;
  text-align: left;
  margin-left: 5rem;
}

.categoryNameE{
  font-size: 1.6rem;
}

.categoryNameJ{
  font-size: 1.1rem;
  font-weight: 300;
}

.category ul{
  list-style-type: none;
  margin-bottom: 7rem;
}

.backToHome{
  margin: 3rem 0 0;
  text-align: center;
  letter-spacing: 0.5rem;
}

.backToHome a{
  text-decoration: none;
}

.backToHome_a{
  position: relative;
  border: 0px solid;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: max-content;
  display: flex;
  text-align: center;
  background: #fff;
  font-size: 13px;
  font-weight: 300;
}

.backToHome_a span{
  width: 100%;
  height: 100%;
  color: black;
  z-index: 10;
}

.backToHome_a span:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: black;
  z-index: -1;
  transition: .3s;
}

.backToHome_a span:hover{
  color: #fff;
  font-weight: 300;
}

.backToHome_a span:hover:before{
  width: 100%;
}

.entire{
  display: flex;
  justify-content: space-between;/*両端揃え*/
}

.mainColumn{
  width: 58rem;
}

.sideMenu{
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 10rem;
  padding-right: 1rem;
}

.sideMenu ul{
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  padding: 0;
}

.sideMenu li{
  text-align: center;
  padding-bottom: 4rem;
}

.sideMenu a{
  text-decoration: none;
}

.btn{
  position: relative;
  border: 0px solid;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: max-content;
  display: flex;
  text-align: center;
  background: #fff;
  font-size: 13px;
  font-weight: 300;
}

.btn span{
  width: 100%;
  height: 100%;
  color: black;
  z-index: 10;
}

.btn span:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: black;
  z-index: -1;
  transition: .3s;
}

.btn span:hover{
  color: #fff;
  font-weight: 300;
}

.btn span:hover:before{
  width: 100%;
}

.theLatest{
  margin-bottom: 7rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.listTitle{
  position: relative;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  height: auto;
  display: flex;
  text-align: center;
}

.listTitle span{
  width: 100%;
  height: 100%;
  color: black;
  z-index: 10;
}

.listTitle span:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: black;
  z-index: -1;
  transition: .3s;
}

.listTitle span:hover{
  color:white;
}

.listTitle span:hover:before{
  width: 100%;
}

.lightText {
  color: #666;
}

.biochemistryLetter{
  color: transparent;
  background-image: url(../public/images/biochemistry-category-image.jpg);
  background-repeat: none;
  background-size: 332px 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}

.physiologyLetter{
  color: transparent;
  background-image: url(../public/images/physiology-category-image.jpg);
  background-repeat: none;
  background-size: 332px 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}

.englishLetter{
  color: transparent;
  background-image: url(../public/images/english-category-image.jpg);
  background-repeat: none;
  background-size: 332px 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}

.categoryHeader h1{
  font-weight: 800;
}